body{
    background-color: rgb(181, 197, 197);
}

.center {
    height:50%;
    display:flex;
    align-items:center;
    /* justify-content:center; */ 
  }
  .form-input {
    width:230px;
    padding:20px;
    background:#fff;
  }

  .form-input input {
    display:none;
  
  }
  .form-input label {
    display:block;
    width:75%;
    height:35px;
    margin-left: 12%;
    line-height:35px;
    text-align:center;
    background:#1172c2;
    color:#fff;
    font-size:15px;
    text-transform:Uppercase;
    font-weight:bold;
    border-radius:25px;
    cursor:pointer;
  }
  
  .form-input img {
    width:100%;
    display:none;
    margin-bottom:10px;
  }
  .yp{
      color: brown;
      margin-left: 1px;
  }
  #uname, #email, textarea {
    width: 70%;
    border: 1px solid blue;
    border-radius: 8px;
    /* box-sizing: border-box; */
    resize: vertical;
  }
  
  label {
      color: white;
      font-weight: bold;
      font-style: italic;
      text-align: left;
  }
  #tit{
      display: none;
  }