body{
    background-color: rgb(181, 197, 197);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    height:50%;
    display:flex;
    align-items:center;
    /* justify-content:center; */ 
  }
  .form-input {
    width:230px;
    padding:20px;
    background:#fff;
  }

  .form-input input {
    display:none;
  
  }
  .form-input label {
    display:block;
    width:75%;
    height:35px;
    margin-left: 12%;
    line-height:35px;
    text-align:center;
    background:orangered;
    color:#fff;
    font-size:15px;
    text-transform:Uppercase;
    font-weight:bold;
    border-radius:25px;
    cursor:pointer;
  }
  
  .form-input img {
    width:100%;
    display:none;
    margin-bottom:10px;
  }
  .yp{
      color: brown;
      margin-left: 1px;
  }
  #uname, #email, textarea {
    width: 70%;
    border: 1px solid orangered;
    border-radius: 8px;
    /* box-sizing: border-box; */
    resize: vertical;
  }
  
  label {
      color: orangered;
      font-weight: bold;
      font-style: italic;
      text-align: left;
  }
  #tit{
      display: none;
  }
  button{
      color: white;
      width: 95px;
      border: none !important;
      background-color: orangered;
      border-radius:12px;
  }
  #save{
      background-color: orangered;
      border-radius:12px;
      border: none !important;
      width: 100px;
      justify-items: center;
      color: #fff;
      font-weight: bold;
  }
  #save:hover{
      opacity: .4;   
  }
  #smessage {
      background-color: orangered;
      border-radius:12px;
      border: none !important;
      width: 120px;
      color: #fff;
      font-weight: bold;
  }
