
body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(181,197,197);
  font-family: "Segoe UI",Verdana, Geneva, Tahoma, sans-serif;
}
.menu 
{
  list-style: none;
  float:right;
  margin-top: 10px;
}
.menu li 
{
  margin-right: 20px;
  display: inline;
  float:right;
}
a 
{
  font-size: 22px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}
a:hover
{
  color: white;
  padding-bottom: 10px;
  border-bottom:3px solid white;
}
a:not(:last-child) {
  margin-right: 30px;
}
#about
{
  background-image: url(../img/calculator-bg.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
#about p 
{
  display:block;
  margin-left:40%;
  margin-right:10%;
  font-size: 25px;
  color :#F2EAE3;
}
h1,h2 
{
  text-align:center;
}
h3
{
  color: rgb(255,69,0);;
}
#gpa-section
{
  margin-top: 20px;
}
.responsive
{
  margin-left: 10%;
  max-width: 100%;
}
.card,th
{
  color :#F2EAE3;
}
.card-header,.card-footer
{
  background: linear-gradient(to bottom,#434343,#000000);
  font-size:20px;
}
.card-body
{
  background: linear-gradient(to bottom,#868f96, #596164);
  font-size:20px;
}
.add
{
  border-radius: 50%;
  padding: 0.5em;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  color: black;
  position: relative;
}
.add::before 
{
  content: " ";
  position: absolute;
  display: block;
  background-color: black;
  width: 2px;
  left: 12px;
  top: 5px;
  bottom: 5px;
  transform: rotate(90deg);
}
.add::after 
{
  content: " ";
  position: absolute;
  display: block;
  background-color: black;
  height: 2px;
  top:12px;
  left: 5px;
  right: 5px;
  transform: rotate(90deg);
}
.button-17 {
  float:right;
  margin-right: 15px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
#gpa-history
{
  display: none;
}
.site
{
  text-decoration: none;
  color:rgb(255,69,0);
}
.fab
{
  color:rgb(255,69,0);
  font-size: 35px;
  width:50px;
}
.mail ul 
{
  list-style: none;
}
footer .mail ul li a
{
  text-decoration: none;
  color:#fff;
}
#sub
{
  border: none;
  background-color:rgb(255,69,0);;
  color:#fff;
  height: 35px;
  font-weight: bold;
  border-radius: 5px;
  margin-top:15px;
}
#semail
{
  width: 70%;
  height: 35px;
}